<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptate aspernatur mollitia at delectus, et sint voluptatem fugit quis ducimus eveniet minima veniam nobis esse consectetur officia deleniti sequi sit velit. Adipisci ab similique aliquid.</p>
    </div>
</body>
</html>